.firesale {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: orange;
    margin: 5%;
}

.profile-image{
}

#search-box {
    width: 400px;
}

#search-box {
}

.category-box {
    display: inline-block;
}

.float_left {
    float: left;
}

.category {
    margin: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    float:left;
}

.category-text {
    color: Black;
}

#boxx {
    display: flex;
}
#linkwithoutline {
     text-decoration: none;
}

#profileimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.catalog {
    display: flex;
    height: 150px;
    background-color: orange;
}

.cat-image {
    height: 100%;
}


.container {
    margin-bottom: 5em;
    min-height: 100%;
    overflow: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 2em;
    width: 100%;
}

.notification-container {
    padding: 20px;
}

.notification-container.seen {
    display: none;
}

.notification-container.seen > button[type="submit"] {
    cursor: none;
    pointer-events: none;
    opacity: .5;
}

ul.messages {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

ul.messages > li {
    padding: 20px;
    background-color: #FE6D73;
    border-bottom: solid 6px #FF444B;
    color: white;
}