.firesale {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: orange;
    margin: 5%;
}

.profile-image{
}

#search-box {
    width: 400px;
}

#search-box {
}

.category-box {
    display: inline-block;
    height: 350px;
    width: 100%;
}

.float_left {
    float: left;
}

.category {
    margin: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    float:left;
}

.category-text {
    color: Black;
}

#boxx {
    display: flex;
}
#linkwithoutline {
     text-decoration: none;
}

#profileimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.catalog {
    display: flex;
    height: 150px;
}


.orange-background {
    background-color: orange;
    margin: 10px;
}

.cat-image-container {
    height: 170px;
}

.cat-image {
    height:100%;
    max-width: 170px;
}

.catagory-image{
    height: 285px;
}

.card-box {
    height:100%;
}

.white-text {
    color: white;

}
.white-text:hover {
    color: black;
}

.prod-info {
    padding-top:2%
}

.prod-image{
    padding-left: 30%;
    padding-top: 2%;
    max-height: 300px;
    max-width: 100%;
}

.container {
    margin-bottom: 5em;
    min-height: 100%;
    overflow: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.front-footer {
    height: 3em;
    background-color: orange;
}

.back-footer{
    height: 4em;
    background-color: darkorange;
}

.notification-container {
    padding: 20px;
}
.notification-container {
    display: inline-flex;
}
#notifmessage {
    margin-right: 20px;
}
.notification-container.seen {
    display: none;
}

.notification-container.seen > button[type="submit"] {
    cursor: none;
    pointer-events: none;
    opacity: .5;
}

ul.messages {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

ul.messages > li {
    padding: 20px;
    background-color: #FE6D73;
    border-bottom: solid 6px #FF444B;
    color: white;
}

.sortby {
    text-decoration: none;
}

.amountsim {
}