.firesale {
    display: flex;
}

.profile-image{
}

#search-box {
    width: 400px;
}

#search-box {
}

.category-box {
    background-color: orange;
    width: 200px;
    height: 100px;
    display: inline-block;
    margin: 20px;
}

.category-text {
    color: black;
}

#boxx {
    display: flex;
}
#linkwithoutline {
     text-decoration: none;
}