{% extends 'base.html' %}
{% block content %}
    <div class="prod-detail d-flex justify-content-evenly">
        <div class="prod-info">
            <h1>{{ product.name }}</h1>
            <h2>Price: {{ product.price }}$ </h2>
            <p>{{ product.condition }}</p>
            <p>{{ product.description }}</p>
        </div>
        <div>
            <img src="{{ product.image }}" class="prod-image"/>
        </div>
    </div>

    <form class="form form-horizontal" method="POST">
    {% if request.user.id != product.seller_id %}
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Place bid" class="btn btn-outline-dark" style="clear:both; margin: 10px 0"/>
    </form>
    {% endif %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h4>Similar products:</h4>
    <div class="row gy-3">
       {% for item in similarproducts %} <!-- prefetch -->
           {% if item.accepted != True%}
            {% include 'product/similarprod.html' with item=item%}
           {% endif %}
       {% endfor %}
    </div>
    </div>
{% endblock %}