{% extends 'base.html' %}
{% block content %}
    <h4>{{ product.name }}</h4><!-- Gera flottan lit -->
    <p>{{ product.description }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.condition }}</p>
    <img src="{{ product.image }}" />
    <form class="form form-horizontal" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Place bid" class="btn btn-primary pull-right" style="clear:both; margin: 10px 0"/>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h4>Similar products:</h4>
    {% for item in similarproducts %} <!-- prefetch -->
        {% if item.accepted != True%}
        {% include 'Product/similarprod.html' with item=item%}
        {% endif %}
       {% endfor %}

    </div>
{% endblock %}