{% extends 'base.html' %}
{% block content %}

    <div class="card border-dark mb-3 mx-auto" style="max-width: 18rem;">
        <div class="card-header">Congratulations!</div>
        <div class="card-body text-dark">
            <h5 class="card-title">Bid placed</h5>
            <p class="card-text">You have placed a bid for {{ product.name }}. You can see the product under My Bids.
                If your offer is accepted, you will be notified. </p>

        </div>
    </div>

{% endblock %}

