<div class="col-6">
    <a href="/product/{{ item.id }}" class="text-decoration-none white-text">
        <div class="catalog border border-3 border-secondary d-flex justify-content-between ">
            <div class="cat-image">
                <img src="{{ item.image }}" class="img-thumbnail cat-image" alt="...">
            </div>
            <h1 class="align-self-center">{{ item.name }}</h1><!-- Gera flottan lit -->
            <h2 class="align-self-center">{{ item.price }}</h2>
        </div>
    </a>
</div>