{% extends 'base.html' %}
{% block content %}
    <form class="form-horizontal" action="{% url 'rating_view' %}" method="post">
        {% csrf_token %}
        {{ form }}
        {% if messages %}

            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <a href="{% url 'rating_view' %}">
            <input type="submit" value="Give rating" class="btn btn-outline-dark pull-right"
                   style="clear:both; margin: 10px 0">
        </a>
    </form>
    <a href="{% url 'Firesale-index' %}" class="btn btn-outline-dark">Skip</a>
{% endblock %}