{% block content %}
    <div>
    <h4>{{ product.name }}</h4><!-- Gera flottan lit -->
    <p>{{ product.description }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.condition }}</p>
    <img src="{{ product.image }}" />
    <form class="form form-horizontal" method="POST">
    {% csrf_token %}
    {{ form }}
        <!--{% if messages %}

        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}-->
    {% if product.bids %}
        <input type='hidden' value='{{ product.id }}' name='id'>
        <input type="submit" value="Accept bid" class="btn btn-primary pull-right" style="clear:both; margin: 10px 0"/>
    {% else %}
        <p>Sorry, you have no bids :-( </p>
    {% endif %}
    
{% endif %}
    <!-- ef product er ekki í bid, þá -->
    <input type='hidden' value='{{ product.id }}' name='id'> <!-- einfaldar eða tvöfaldar? -->
    <input type="submit" value="Accept bid" class="btn btn-primary pull-right" style="clear:both; margin: 10px 0"/>
    </form>
    </div>
{% endblock %}