{% block content %}
    <div>
{#    <h4>{{ notification.product.name }}</h4><!-- Gera flottan lit -->#}
{#        <img src="{{ notification.product.image }}" />#}

        <form class="form form-horizontal" method="POST">
            <div class="notification-container {% if notification.seen == True %}seen{% endif %}">
                <p>{{ notification.message }}</p>

                {% csrf_token %}
                {{ form }}
                <input type='hidden' value='{{ notification.id }}' name='id'>
                <button type="submit" class="btn btn-primary">
                    Mark as seen
                </button>
            </div>
        </form>
    </div>

{% endblock %}