{% extends 'base.html' %}
{% block content %}
    <form class="form-horizontal" action="{% url 'payment_information' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.cardname.cardname }}">Name on card:</label>
            <input id="cardname" type="text" class="form-control" name="cardname">
        </div>
        <div class="form-group">
            <label for="{{ form.cardnum.cardnum }}">Card Number:</label>
            <input id="cardnum" type="number" class="form-control" name="cardnum">
        </div>
        <div class="form-group">
            <label for="{{ form.exp.exp }}">Expiration month:</label>
            <input id="exp" type="text" class="form-control" name="exp">
        </div>
        <div class="form-group">
            <label for="{{ form.expy.expy }}">Expiration Year:</label>
            <input id="expy" type="number" class="form-control" name="expy">
        </div>
        <div class="form-group">
            <label for="{{ form.cvc.cvc }}">CVC:</label>
            <input id="cvc" type="number" class="form-control" name="cvc">
        </div>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-dark">Back</a>
        <a href="{% url 'view_payment' %}">
            <input type="submit" value="Next" class="btn btn-outline-dark pull-right"
                   style="clear:both; margin: 10px 0">
        </a>

    </form>
{% endblock %}