{% extends 'base.html' %}
{% block content %}
    <h1>{{ category.name }}</h1>
    <a class="link-dark sortby" href="/catalog/{{ category.id }}?sort_by=price">Sort by price</a>
    <a class="link-dark sortby" href="/catalog/{{ category.id }}?sort_by=name">Sort by name</a>
    <div class="row row-cols-1 row-cols-md-2 g-4" style="margin-top: 0px;">
       {% for item in product %} <!-- prefetch -->
           {% if item.accepted != True%}
               {% include 'catalog/single_product.html' with item=item%}
           {% endif %}
       {% endfor %}
    </div>
{% endblock %}