{% extends 'base.html' %}
{% block content %}
    <h1>{{ category.name }}</h1>
    {% if order == 'desc' %}
    {% else %}{% endif %}
    <a href="/catalog/{{ category.id }}?sort_by=price">Sort by price</a>
    <a href="/catalog/{{ category.id }}?sort_by=name">Sort by name</a>
    <div class="row">
       {% for item in product %} <!-- prefetch -->
           {% if item.accepted != True%}
            {% include 'catalog/single_product.html' with item=item%}
           {% endif %}
       {% endfor %}
    </div>
{% endblock %}

