
<div class="card mb-3 orange-background text-center border-secondary" style="max-width: 540px;">
    <a href="/product/{{ item.id }}" class="text-decoration-none white-text">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ item.image }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">{{ item.name }}</h1>
        <h3 class="card-text">{{ item.price }}</h3>
      </div>
    </div>
  </div>
    </a>
</div>